<div class="btn-group btn-group-sm btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
        <a ng-click="r.lastQuestion()"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>   Previous</button></a>
        </div>
        <div class="btn-group" role="group">
          <a ng-click="r.randomQuestion()"><button type="button" class="btn btn-default" >Random   <span class="glyphicon glyphicon glyphicon-retweet" aria-hidden="true"></span></button></a>
        </div>
        <div class="btn-group" role="group">
          <a ng-click="r.nextQuestion()"><button type="button" class="btn btn-default" >Next <span class="glyphicon glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></button></a>
        </div>
      </div>